
*.db

*.dat

*.alloc

*.prop

sprakproj/txn-status

*.hash

*.id

sprakproj/database_type_count_2

*.zip

sprakproj/lock/process

sprakproj/lock/locked

sprakproj/java_pid1518.hprof

sprakproj/java_pid1541.hprof
